.cardList{
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (min-width: 767px) {

    .cardList {
        margin: auto;
    }
}